:root {
    font-size: 10px;
}
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid green;
    padding-right: 10px;
}

.logo img {
    width: 150px;
}

span {
    display: block;
}

.nav-liens {
    width: 824px;
}

header {
    border: 2px solid green;
}

.sous-menu .liens{
    position: absolute;
    display: none;
    background: #555;
    width: 250px;
    margin-left: 5px;
    top: 65px;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-link:hover {
    background: rgba(119, 174, 246, 0.924);
    border-radius: 1.5rem;
    transition: all 0.2s ease-in;
    box-shadow: 5px 6px 20px rgba(11, 48, 255, 0.952);

}

.lien-deroulant:hover .sous-menu .liens{
    display: block;
    top: 55px;
    z-index: 1;
}

.liens .lien{
    list-style: none;
}

.liens .lien a{
    color: #f5f5f5;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
}

.sous-menu .liens .lien{
    margin: 20px 0;
} 

.liens .lien a:hover{
    background: rgba(119, 174, 246, 0.924);
    border-radius: 1.5rem;
    transition: all 0.2s ease-in;
    box-shadow: 5px 6px 20px rgba(11, 48, 255, 0.952);
}

/* caroussel*/
/* .c-item {
    height: 280px;
}

.c-img {
    height: 80%;
    object-fit: cover;
    filter: brightness(0.6);
} */

.carbone {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

span.green {
    color: green;;
}

.wrapper {
    padding: 8px;
}

h2 strong {
    color: rgba(68, 255, 0, 0.722);
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1em;
}

main img {
    width: 100%;
}

footer {
    background-color: green;
    text-align: center;
    color: white;
}

footer h2 {
    font-size: 1em;
}

@media screen and (min-width: 600px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (min-width: 800px) {
    :root {
        font-size: 16px;
    }

    main img {
        /* 100% de la taille de l'écran */
        height: 100vh; 
        /* Pour eviter que l'image se déforme */
        object-fit: cover;
    }

    .carbone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }

    .wrapper {
        padding: 20px;
        margin: 20px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: green;
        text-align: center;
        color: white;
    }
   

}
